
*{
    overflow-y: hidden;
    overflow-x: hidden;
}

.backgroundSpace {
    position: relative;
    z-index: -3;
    background-size: cover;
    bottom: 150px;

}

.backgroundNokia {
    position: relative;
    z-index: -2;
   
   
}

.panel {
    position: relative;
    z-index: -1;
    height: 300px;
    width: 300px;
    bottom: 2000px;
    background-color: rgb(97, 190, 100);
}